<style>
    .layui-table-cell {
        height: auto;
        line-height: 28px;
    }
</style>
<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">轮播图</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">轮播图</a>
          <a><cite>轮播图</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <!-- 表格顶部操作列 -->
        <script type="text/html" id="image-toolbar">
            <div class="layui-btn-container">
                {{# if({{addShow}} == true){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm" lay-event="add"><i
                        class="layui-icon">&#xe654;</i>添加
                </button>
                {{# } }}
            </div>
        </script>
        <table class="layui-table" id="image-table" lay-filter="image-table"></table>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="image-table-bar">
    {{#  if({{editShow}} == true){ }}
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    {{#  } }}
    {{#  if({{deleteShow}} == true){ }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#  } }}
</script>

<!-- 表格状态列 -->
<script type="text/html" id="image-tpl-status">
    <input type="checkbox" lay-filter="image-tpl-status" value="{{d.id}}" lay-skin="switch"
           lay-text="正常|禁用" {{d.status==0?'checked':''}}/>
</script>

<script>
    layui.use(['form', 'table', 'config', 'crown'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        $('#image-toolbar').vm({
            addShow: crown.hasPerm("image:add")
        });
        $('#image-table-bar').vm({
            editShow: crown.hasPerm("image:edit"),
            deleteShow: crown.hasPerm("image:delete")
        });
        // 渲染表格
        var userTable = table.render({
            elem: '#image-table',
            toolbar: '#image-toolbar',
            url: config.serverUrl + '/image',
            request: config.request,
            parseData: config.parseData,
            response: config.response,
            headers: {Authorization: config.getToken()},
            page: true,
            cols: [[
                {field: 'id', width: 60, title: 'ID'},
                {field: 'imgUrl', align: 'center', sort: true, title: '图片路径',templet: function (d) {
                        return  "<img  width='100px' onclick='window.open(\"http://"+d.imgUrl+"\")' title='点击预览产品图片' style='cursor: pointer;' src='"+"http://"+d.imgUrl+"\'\></br>"
                    }
                },
                {align: 'center', toolbar: '#image-table-bar', title: '操作'}
            ]]
        });
        // 表格顶部操作列
        table.on('toolbar(image-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            }
        });
        // 表格操作列事件
        table.on('tool(image-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'edit') {
                // 修改
                showEditModel(data);
            }else if (layEvent === 'del') {
                // 删除
                doDelete(obj);
            }
        });

        // 删除
        var doDelete = function (obj) {
            layer.confirm('确定要删除吗？', function (i) {
                layer.close(i);
                layer.load(2);
                crown.delete('/image/' + obj.data.id, {}, function () {
                    layer.closeAll('loading');
                    layer.msg('删除成功', {icon: 1});
                    obj.del();
                });
            });
        };

        //显示表单弹窗
        var showEditModel = function (data) {
            if (data) {
                crown.get('/image/' + data.id, {async:false}, function (data) {
                    crown.putTempData('t_image', data.result);
                });
            }
            crown.popupCenter({
                title: data ? '修改图片' : '添加图片',
                area:"1000px",
                path: 'components/views/image/form.html',
                finish: function () {
                    userTable.reload('image-table', {});
                }
            });
        };

        // 搜索按钮点击事件
        $('#image-btn-search').click(function () {
            userTable.reload({where: crown.getSearchForm()});
        });

        // 修改image状态
        form.on('switch(image-tpl-status)', function (obj) {
            layer.load(2);
            crown.put('/image/' + obj.elem.value + '/status',
                {data: {status: obj.elem.checked ? 0 : 1}}, function () {
                    layer.closeAll('loading');
                    layer.msg('用户状态更新成功', {icon: 1});
                });
        });
    });
</script>