<!-- product表单弹窗 -->
<form id="product-form" lay-filter="product-form" class="layui-form model-form" style="padding-right:0px;height:100%">
    <div style=" height:80%;overflow: auto;padding-right:10px;padding-left:10px">
        <input name="id" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">序号</label>
            <div class="layui-input-block">
                <input name="orderNum" placeholder="请输入序号" type="text" class="layui-input" lay-verify="required|number"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">产品名称</label>
            <div class="layui-input-block">
                <input id="name" name="name" placeholder="请输入产品名称" type="text" class="layui-input" maxlength="20" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-block">
                <select name="brandId" xm-select-radio="" xm-select-search="" xm-select="brandId"  lay-verify="required">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">运费策略</label>
            <div class="layui-input-block">
                <select name="carriageId" xm-select-radio="" xm-select-search="" xm-select="carriageId"  lay-verify="required">
                </select>
            </div>
        </div>
        <div style="padding: 10px; background-color: #F1F1F1;">
            <div class="layui-card">
                <div class="layui-card-header">价格区间</div>
                <div class="layui-card-body">
                    <table class="layui-table" id="price_degree_model" lay-filter="price_degree_model">
                        <thead>
                        <tr>
                            <td>起始数量(个)</td>
                            <td>最大数量(个)</td>
                            <td>价格(元/个)</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text"  class="layui-input" name="b_number" lay-verify="required|number"></td>
                            <td><input type="text"  class="layui-input" name="e_number" lay-verify="required|number"></td>
                            <td><input type="text"  class="layui-input" name="price" lay-verify="required|number"></td>
                            <td>
                                <a class="layui-btn layui-btn-xs addPriceDegree">添加</a>
                                <a class="layui-btn layui-btn-danger layui-btn-xs delPriceDegree">删除</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div style="padding: 10px; background-color: #F1F1F1;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">产品图片</div>
                        <div class="layui-card-body">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="productImgList">选择产品图片</button>
                                <button type="button" class="layui-btn" id="upload">开始上传</button>
                                <div class="layui-upload-list">
                                    <table class="layui-table">
                                        <thead>
                                        <tr><th>文件名</th>
                                            <th>大小</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr></thead>
                                        <tbody id="productList"></tbody>
                                    </table>
                                </div>
                                <p style="padding-left:10px">最多支持上传6张图片</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">产品详情图片</div>
                        <div class="layui-card-body">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn" id="detail_img" style="margin-left: 20px;">上传详情图片</button>
                                <div class="layui-upload-list" style="text-align: center">
                                    <img class="layui-upload-img" id="detail_img_preview" style="max-width: 100%;max-height: 350px;vertical-align: middle;">
                                    <p id="detail_img_txt"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item model-form-footer" style="margin-top:10px;width:97%">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="product-form-submit" lay-submit>保存</button>
    </div>
</form>
<script>
    layui.use(['layer', 'crown', 'form','upload','formSelects'], function () {
        var layer = layui.layer;
        var crown = layui.crown;
        var config = layui.config;
        var form = layui.form;
        var formSelects = layui.formSelects;
        var productImgs = [];
        var detailImgId;
        var $ = layui.jquery
            ,upload = layui.upload;
        // 获取所有品牌
        // 获取所有角色
        layer.load(2);
        crown.get('/brand/brands', {}, function (data) {
            // 渲染多选下拉框
            var brandSelectData = new Array();
            for (var i = 0; i < data.result.length; i++) {
                brandSelectData.push({name: data.result[i].name, value: data.result[i].id});
            }
            formSelects.data('brandId', 'local', {arr: brandSelectData});
            formSelects.btns('brandId', []);
            var product = crown.getTempData('t_product');
            // 回显产品数据
            if (product) {
                form.val('product-form', product);
                var rds = new Array();
                rds.push(product.brandId);
                formSelects.value('brandId', rds);
            }
            layer.closeAll('loading');
        });

        // 获取所有运费策略
        crown.get('/carriage/carriages', {}, function (data) {
            // 渲染多选下拉框
            var brandSelectData = new Array();
            for (var i = 0; i < data.result.length; i++) {
                brandSelectData.push({name: data.result[i].name, value: data.result[i].id});
            }
            formSelects.data('carriageId', 'local', {arr: brandSelectData});
            formSelects.btns('carriageId', []);
            // 回显产品数据
            if (product) {
                form.val('product-form', product);
                var rds = new Array();
                for (var i = 0; i < product.carriageId.length; i++) {
                    rds.push(product.roleIds[i]);
                }
                formSelects.value('carriageId', rds);
            }
            layer.closeAll('loading');
        });

        //详情图片上传
        var uploadDetailImg = upload.render({
            elem: '#detail_img'
            ,url: 'product/upload'
            ,headers: {Authorization: config.getToken()}
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#detail_img_preview').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                var data = res.result;
                //上传成功
                if(data.id){
                    detailImgId = data.id;
                    return layer.msg('上传详情图片成功');
                }
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#detail_img_txt');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadDetailImg.upload();
                });
            }
        });

        //多文件列表示例
        var productListView = $('#productList')
            ,uploadListIns = upload.render({
            elem: '#productImgList'
            ,url: 'product/uploads'
            ,accept: 'images'
            ,number:6
            ,multiple: true
            ,auto: false
            ,bindAction: "#upload"
            ,headers: {Authorization: config.getToken()}
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    productListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                var data = res.result;
                //上传成功
                if(data.id){
                    productImgs.push(data.id);
                    var tr = productListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = productListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });
        // 表单提交事件
        form.on('submit(product-form-submit)', function (data) {
            layer.load(2);
            if (data.field.id) {
                crown.put('/product/' + data.field.id, {data: data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('修改成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            } else {
                data.field.productImgs = productImgs;
                data.field.detailImgId = detailImgId;
                var bnums = [];
                var onums = [];
                var price = [];
                $("input[name='b_number']").each(function(b,item){
                    // 你要实现的业务逻辑
                    bnums.push(item.value)
                });
                $("input[name='e_number']").each(function(o,item){
                    // 你要实现的业务逻辑
                    onums.push(item.value)
                });
                $("input[name='price']").each(function(p,item){
                    // 你要实现的业务逻辑
                    price.push(item.value)
                });
                data.field.bnums = bnums;
                data.field.onums = onums;
                data.field.price = price;
                crown.post('/product', {data:data.field}, function () {
                    layer.closeAll('loading');
                    layer.msg('添加成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            }
            return false;
        });

        //因为动态添加的元素class属性是无效的，所以不能用$('.add').click(function(){});
        $('#price_degree_model').on('click', '.addPriceDegree', function() {
            //你要添加的html
            var html = '<tr>'+
                '<td><input type="text"  class="layui-input" name="b_number" lay-verify="required|number"></td>'+
                '<td><input type="text"  class="layui-input" name="e_number" lay-verify="required|number"></td>'+
                '<td><input type="text"  class="layui-input" name="price" lay-verify="required|number"></td>'+
                '<td>'+
                '<a class="layui-btn layui-btn-xs addPriceDegree">添加</a>'+
                '<a class="layui-btn layui-btn-danger layui-btn-xs delPriceDegree">删除</a>'+
                '</td>'+
                '</tr>';
            //添加到表格最后
            $(html).appendTo($('#price_degree_model tbody:last'));
            form.render();
        });
        $('#price_degree_model').on('click', '.delPriceDegree', function() {
            if ($('#price_degree_model tbody tr').length === 1) {
                layer.msg('只有一条不允许删除。', {
                    time : 2000
                });
            } else {
                //删除当前按钮所在的tr
                $(this).closest('tr').remove();
            }
        });

    })


</script>